---
import BaseHead from '@/components/BaseHead.astro'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
import Gallery from '@/components/Gallery.astro'
import Galleryvideos from '../Galleryvideos.astro'
import Galleryimagenes from '../components/Galleryimagenes.astro'

import ExternalScripts from '@/components/ExternalScripts.astro'

let title = 'Jorge Enrique Jiménez Moreno'
let description =
  'Este es mi sitio web donde podrás ver los servicios que ofrezco de diseño, modelado y renders en 3D, Edición de Imagenes y Producción y Edición de videos para tus proyectos escolares'
---

<!doctype html>
<html lang="en">
  <BaseHead
    title={title}
    description={description}
    author={'AREA44'}
    og={'og-image.jpg'}
  />

  <body class="is-preload">
    <div id="wrapper">
      <Header title={title} />
      <Footer title={title} description={description} />
      <h2 class="margin">Renders 3D</h2>
      <Gallery />

      
      <!-- <Galleryimagenes /> -->
      <br>
      <h2 class="margin">Videos</h2>
      <Galleryvideos />
      <h2 class="margin">Otros proyectos en los que he trabajado</h2>
        <div class="contenedor">
          <a class="margin" target="_blank" href="https://www.youtube.com/watch?v=2ioJUSw1UTk&t=1136s">Documental de Casa Universitaria Cacao y Chocolate</a>

          <a class="margin" target="_blank" href="https://www.youtube.com/watch?v=Np8ucS0qrDk&t=906s">Muestra Artística y Cultural: Exteriorizando el Interior l División Académica de Educación y Artes</a>

          <a class="margin" target="_blank" href="https://www.youtube.com/watch?v=nM6DYCnZUX4">Experiencia del GOOGLE DEVFEST en la UJAT Villahermosa</a>
        </div>
        

    </div>
    <ExternalScripts />
  </body>
</html>

<style is:global>
  .margin{margin-left: 12px;}
  .contenedor{width: 100%; display: flex; flex-direction: column; gap: 10px; padding-bottom: 20px;}
</style>
